

<div class="col-lg-14">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <!--<legend>Log</legend>-->
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>
              <span>LOGS</span>
              <span  style="float:right;">
                <button type="submit" class="btn btn-default btn-xs" ng-click="delLog()">Clear</button>
                <button type="submit" class="btn btn-primary btn-xs" ng-click="getLog()">Refresh</button>
              </span>
            </th>
          </tr>
          </thead>
        </table>
        <div id = "cc" style="font-family:Courier New, Monospace;width:100%;overflow: auto;word-wrap: break-word; white-space:pre ;font-size:13px;"></div>
      </fieldset>
    </form>
  </div>
</div>

