*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
.eggs/
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.testrepository
.venv

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
doc/build

# pbr generates these
AUTHORS
ChangeLog

# Editors
*~
.*.swp
.*sw?
*cscope*
.ropeproject/
*.diff

.DS_store

# KloudBuster
kb*.log
*.json
*.qcow2
scale/dib/kloudbuster.d/
.vagrant/

# kb_web
!kb_server/public/ui/components/*/*.css
!kb_server/public/ui/components/*/*.js
