# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

pbr>=1.3
Babel>=1.3

configure>=0.5
hdrhistogram>=0.3.1
oslo.log>=1.0.0
pecan>=0.9.0
python-openstackclient>=1.5.0
redis>=2.10.3
tabulate>=0.7.3

# Workaround for pip install failed on RHEL/CentOS
functools32>=3.2.3
